[2020-04-23 08:40] kenji21 commented on #1130
Hi,

Initial pull request sent : https://github.com/kif-framework/KIF/pull/1147

[2020-04-29 11:44] PowerPaloma opened #1148 "waitForView(withAccessibilityLabel) is not working with unicode"
In my .strings file i have a string with a unicode for non-breaking hyphen( \U2011) but i can't find this label using `waitForView(withAccessibilityLabel)`. There is some method similar for unicode ? Or this method don't suppot unicode yet?

[2020-04-29 17:17] justinseanmartin commented on #1148
It should match based on the contents of whatever the accessibility APIs are returning for the full UIView hierarchy (starting from the application's `windows` array as the roots). I'm not sure if Apple does something special when exposing that UIKit field information via the accessibility APIs, but we essentially just test `isEqualToString:`. I'd recommend taking a look at the `+[UIView printView

[2020-04-29 21:14] #1148 closed

[2020-04-29 21:16] PowerPaloma opened #1149 "StatusBar in Screenshots"
There's a way to also have statusBar in screenshots ?

[2020-04-30 06:55] kenji21 commented on #1149
Yes, see https://github.com/openium/SwiftiumTestingKit/blob/master/STKTestAppTests/STKSoloTests.swift#L192

we use it with https://github.com/TitouanVanBelle/XCTestHTMLReport in our CI to get a folder with all screenshots (also available in Test report of Xcode on your local machine)

[2020-04-30 08:13] justinseanmartin commented on #1149
It looks like you're using `XCUIScreen.main.screenshot().image`, so I guess that method is able to enumerate the status bar and render it to the image. We should potentially swap out our rendering code in `-[UIApplication(KIFAdditions) writeScreenshotForLine:inFile:description:error:]` to use that to get the image instead.

I unfortunately don't have a lot of free time to update the library right

[2020-06-24 06:23] changeyourdestiny opened #1152 "Crash in `_setIsFirstTouchForView:` on iOS 14"
Hi, I found iOS14 devices will crash due to:
`@implementation UITouch (TIAs)
- (id)initAtPoint:(CGPoint)point inWindow:(UIWindow *)window
{
  ....
   [self _setIsFirstTouchForView:YES]; //will crash
  //  [self respondsToSelector:@selector(_setIsFirstTouchForView:)] will return NO on iOS14
  ....
}`

[2020-06-24 06:33] changeyourdestiny commented on #1152
[self setIsTap:YES];// crash too
 [self respondsToSelector:@selector(setIsTap:)] will return NO on iOS14 too

[2020-06-24 16:20] steipete commented on #1152
Hi folks 👋 I have a working hack over here, I'm sure you can adapt this for KIF as well: https://github.com/google/EarlGrey/issues/1357

[2020-06-30 15:38] #1152 closed

[2020-07-07 13:32] dostrander opened #1155 "Backgrounding the app using deactivateAppForDuration does not work with Xcode12b1"
In Xcode12 it seems that UIAutomation has been removed which is the mechanism we use to background the application.

We need to look into another mechanism to background the application for Xcode12.

[2020-07-07 13:33] dostrander opened #1156 "Cannot click on system alerts in Xcode 12"
In Xcode12 it seems that UIAutomation has been removed which is the mechanism we use to click on system alerts.

We need to look into another mechanism to click on system alerts in Xcode12.

[2020-07-07 17:12] erudel commented on #1134
I put up a PR to fix this issue: https://github.com/kif-framework/KIF/pull/1158

I verified some of the failing unit tests are now passing on Xcode 11 / iOS 13.4

[2020-07-14 14:50] dostrander commented on #1146
Fixed in PR  #1157

[2020-07-14 14:50] #1146 closed

[2020-07-16 17:23] erudel opened #1160 "Add text action to show the callout menu"
The long press gesture to show the callout menu no longer works on text input with the new magnifier.
The input first needs to become first responder, and then we can long press on it to show the menu.

This introduces some repetition at the call site where the developer has to first call tap and then long press. It would be nice to have a `showMenu` method that combines the two actions

[2020-07-26 02:38] heidiproske opened #1161 "[Question] What makes KIF tests not render rounded corners on views?"
## Question / Issue
When I run my app in the simulator, all my views are rendered as desired with rounded corners.

When I run the app via a `KIFTestCase`, then my views don't seem to render properly (see screenshot below showing how the same button is missing it's rounded corners). I've tried taking a look through some of the extensions but can't figure out what would stop the views from being dr

[2020-08-07 20:26] ximenaperez commented on #1119
hi! what's the status on this?? it will be deprecated on Dec 2020

[2020-08-26 06:21] pimms opened #1169 "[Question] iOS 14 support"
Hi!

What is the plan/roadmap for iOS 14 support?

Under Xcode12b5 all interactions fail with _"`-[UITouch _setIsFirstTouchForView:]: unrecognized selector sent to instance 0x...`"_.

Thanks 🙂

[2020-08-26 10:04] knellr commented on #1169
Looks like the issue has been fixed, so we just need a release, I guess that will come with the GM? -> https://github.com/kif-framework/KIF/pull/1153

[2020-08-31 18:58] dostrander commented on #1169
Yep what @knellr said is correct. We will hopefully be releasing again shortly. Closing, please reopen if you dont think this has been answered

[2020-08-31 18:58] #1169 closed

[2020-09-01 12:18] dostrander commented on #1161
@heidiproske Just noticed this issue, sorry for the delay.

What Xcode and simulator are you running on? I just tested this on Xcode 11.6, on an iPad Pro (12.9 in 3rd generation) on iOS 11.6 and this did not occur.

[2020-09-02 12:58] billburgess opened #1171 "Update KIF version"
There have been important PRs that are affecting how KIF works on Xcode 12/iOS 14 that have been approved and merged into master but no new releases since March. A new bug fix update or something would make these PR changes available and really help out those trying to get ready for iOS 14.

[2020-09-04 00:38] mpujol commented on #1171
+1. I've gotten to the point where the tests run normally for iOS 12 & 13 but 14 doesn't trigger the individual tests to start.

[2020-09-05 11:09] dostrander commented on #1171
Sorry for the delay in getting an update out. Was trying to fix our CI before we did that. I will make sure to get this done this week

[2020-09-05 11:13] dostrander opened #1172 "Tapping status bar not scrolling to top on iOS 12+"
Tapping the status bar in KIF still hits the status bar window however does not trigger a scroll to the top of the scrollview. We need to find a fix if we want to continue having this feature.

You can reproduce this using the same configuration we use in our tests for iOS 12. iPad Pro (12.9-inch) (3rd generation) iOS version 12.4

[2020-09-09 15:52] #1171 closed

[2020-09-09 16:08] dostrander commented on #1171
@mpujol and @billburgess 3.7.10 was released this morning.

[2020-09-09 16:34] mpujol commented on #1171
@dostrander Thank you so much!!! 😄

[2020-09-11 15:41] dostrander commented on #1028
@RoyalPineapple @mikelupo @justinseanmartin I'm doing some house keeping and noticed there was this discussion. Is there any more discussion that should be had and/or any action items that should come out of this?

[2020-09-13 11:56] dostrander opened #1176 "Deprecate the `tester` interface"

[2020-09-14 12:07] dostrander opened #1177 "Bump deployment target to 11 to match CI configuration"

[2020-09-14 13:05] dostrander opened #1178 "Programmatically find application element from springboard"
With UIAutomation we can access the springboard when we background an app. We can bring up the app switcher and we "guess" where the first element is. We should be able to detect where it is using it's descendent elements.

[2020-09-15 17:59] pquillere commented on #1156
Hi @dostrander! Did you have a chance to look into this issue?

I had a quick look at it yesterday, but the only other way I know of to access alerts is through `XCUIApplication` which is only available in a UI Test Target. But KIF is using a Unit Test Target to drive the UI.

[2020-09-15 18:07] dostrander commented on #1156
@pquillere  I have not unfortunately. Hopefully going to have time in the coming weeks.  Might have to think of another way to go about this.

If we can't find a way we may have to deprecate clicking on system alerts and resort to exposing a suppression of the system alerts rather than a mechanism to click on them. Open to suggestions on this!

[2020-09-15 18:46] mikelupo commented on #1156
KIF uses the unit test framework by design.
As long as I’ve used KIF we have not ever been able to interact with system prompts.
If the UI test framework can, then I wonder if we can utilize the API there without compromising KIF?

Sent from my iPhone

[2020-09-15 21:02] pquillere commented on #1156
@mikelupo We've been able to use it for the push notification authorization alert. That would only work on a simulator though. What work around have you been using to interact with system alerts during UI testing?

@dostrander How would the "suppression of the system alerts" work?

[2020-09-15 22:02] mikelupo commented on #1156
Yes, a simulator does not have system UI barriers like an actual device does. Sorry I was not specific about that. I have always tested on a farm of real hardware. Never tested on simulators as the desktop on corporate machines, even in our labs, are required to be locked out.

Sent from my iPhone

[2020-09-16 15:55] dostrander opened #1181 "dismissPopover does not work in iOS 14"
In iOS 14 there is no `UIDimmingView` that can be detected to dismiss a popover.

There is a `_UITouchFallbackView` which we can use to tap and dismiss a popover view.

[2020-09-16 16:48] dostrander opened #1183 "Selecting time or date in date picker does not work in iOS14"
In iOS 14 they have changed the UI of the date picker. KIF needs to be updated to reflect this change in iOS14.

When selecting date picker input:
![Simulator Screen Shot - iPad (8th generation) - 2020-09-16 at 12 46 16](https://user-images.githubusercontent.com/823322/93367710-ddaa8700-f81a-11ea-91e7-7bc69ff92257.png)

Once you click the data/time!
![Simulator Screen Shot - iPad (8th generation)

[2020-09-17 12:15] dostrander commented on #1181
Fixed with #1182

[2020-09-17 12:15] #1181 closed

[2020-09-18 05:28] justinseanmartin commented on #1028
I think we should remove the subspec for accessibility identifier if/when we ever do a major version bump and introduce breaking changes. That would likely be the time wheer we'd remove `KIFUIViewTester` entirely.

[2020-09-21 15:21] dostrander commented on #1156
@pquillere To possibly swizzle the asking of permissions of system alerts to automatically give the permission. Need to look into it more

[2020-09-21 15:22] dostrander commented on #1183
Note this is only when developers do NOT set `preferredDatePickerStyle` to `UIDatePickerStyleWheels`. If it's set to `UIDatePickerStyleWheels` the original implementation still works.

[2020-09-24 15:27] vsanchez2187 opened #1188 "KIF included as Carthage Linked Library Failed"
Hello everyone :

I have an issue integrated the KIF using Carthage  , once i add it to my Cartfile as :

**github "kif-framework/KIF" "v3.7.11"**

And executed **carthage update --platform iOS**

I try to execute one example test in my code and it lunch this error on the console :

**(dlopen_preflight(/Users/vsanchez/Library/Developer/Xcode/DerivedData/IPSCore-clrdhaauweqzzobfdfqevuufkbuc/Build/P

[2020-09-29 11:02] Sc4pego4t commented on #1188
Seems problem is here:
Implicit conversion loses integer precision: 'UIDeviceOrientation' (aka 'enum UIDeviceOrientation') to 'int'
KIF/Classes/KIFSystemTestActor.m

[2020-09-30 15:23] vsanchez2187 commented on #1188
@Sc4pego4t  thanks it works using Xcode 11.7

[2020-09-30 15:23] #1188 closed

[2020-10-09 14:02] Max-Job opened #1189 "acknowledgeSystemAlert doesn't work with iOS 14"
`[tester acknowledgeSystemAlert];`
doesn't work with iOS 14, but works correctly with iOS 13.4

the test starts, there are no errors, but nothing happens - the notification (permission) does not close and the test does not pass further

[2020-10-09 18:15] mpujol commented on #1189
This looks like a duplicate of #1156.

[2020-10-15 16:48] ThreeFingerCoder opened #1190 "Weird Failure when executing multiple tests with shutdown simulator"
Hi,

So I have set up a KIF on a small simple app which only has a table view with 50 cells.

And I have written two tests like this.
[code]

So there are two scenarios when I execute the tests: 1) when the destination simulator is shutdown and 2) when the destination simulator is already booted.

- When I run tests via Xcode, in both scenarios, tests worked fine.
- However, when I run the tests v

[2020-11-12 21:16] kenji21 commented on #1130
New PR replacing previous one : https://github.com/kif-framework/KIF/pull/1193

[2020-11-19 11:10] kikeenrique opened #1194 "[Question] Is it AVRoutePickerView supported?"
I'm wondering if it's possible to interact somehow with AVRoutePickerView presented view.

I'm referring to the view presented when you select an airplay button, you can check an example here:
https://stackoverflow.com/questions/60697509/stream-audio-to-multiple-devices-at-once-via-airplay-2

I've seen that it already exists selectPickerViewRowWithTitle(), etc ..., but I don't know if it's possibl

[2020-11-24 18:04] #1183 closed

[2020-11-24 21:01] kenji21 opened #1196 "Tests failing on "safe area" devices"
On iPhone X and other devices, I found (during SPM support PR: https://github.com/kif-framework/KIF/pull/1193) that some tests (swipe?) were failing

[2020-11-25 07:14] kenji21 commented on #1156
Running `-[SystemAlertTests testAuthorizingLocationServicesAndNotificationsScheduling]` make 100% cpu due to this loop:

[code]

as `[self target]` is:

[code]

Because class UIATarget doesn't exists as UIAutomation framework not available on iOS 14

From what I looked at, after viewing APIs offered for UI Tests (https://developer.apple.com/documentation/xctest/xctestcase/handling_ui_interruptions

[2020-12-06 19:37] Alderon86 opened #1198 "tapScreenAtPoint not working on ios14"
I just discovered that tapScreenAtPoint just crashes my app on iOS14.

any suggestions where to look at to resolve that problem?

[2020-12-11 20:16] rauls4 opened #1199 "Does KIF work with SwiftUI?"
Hello, we are looking for UI testing options and KIF has come up. I have not been able to find out about SwiftUI compatibility.

Any information would be appreciated.

Thanks

[2020-12-12 16:25] kenji21 commented on #1199
Can confirm it works, and I've also tried some interesting thing, using SwiftUI previews in tests:

[code]

Here is the log:

[code]

[2020-12-12 16:57] rauls4 commented on #1199
Wow. That’s great to learn. You might want to indicate this on the read me for others wondering the same.

Thank you very much!

Raul Silva

[2020-12-15 13:00] dostrander commented on #1198
@Alderon86 which version of the framework are you using? This should have been fixed here with #1153

[2020-12-15 13:02] dostrander commented on #1194
I haven't looked into this in particular. I've added this as an improvement to the framework as i'd guess this isn't supported currently. I would guess it might be able to be supported, however might need some reverse engineering to figure out what is required to support it.

[2020-12-15 13:04] dostrander commented on #1190
Very interesting I haven't run into this before adding it to the bug list, thanks for letting us know!

[2020-12-15 21:32] Alderon86 commented on #1198
I think its 3.7.8 newer version are insta crashing my app but haven't looked into the reason that much

[2020-12-15 21:58] dostrander commented on #1198
When you get a chance could you give us a backtrace on what is happening?

[2020-12-15 22:31] Alderon86 commented on #1198
@dostrander ofc I will, we just hit another lockdown here so I guess I have plenty of time the next days

[2021-01-20 14:49] heyzooi commented on #1130
@dostrander I'm wondering why you guys had to revert the support for SPM. We are using 3.7.14 but the support disappeared for 3.7.15

[2021-01-20 16:21] dostrander commented on #1130
@heyzooi The issue with this pull request is it had changes seemingly unrelated to SPM that broke cocoapods. Somehow while releasing 3.7.14 it still published however broke when pod installing. 3.7.15 fixed that by reverting to allow for cocoapods to continue working.

I put up a PR to verify that cocoapods stays in tact while merging pull requests.

I am planning on getting this change back into

[2021-01-22 12:57] dostrander commented on #1155
One possible idea for this is to look in the XCTAutomationSupport to help with this. In Xcode 12/iOS 14 class-dump is broken so this makes it harder and I have not found any APIs in the Xcode11 version of apple that may work for our use cases. We may need to do some disassembling to find out how XCUI does this

[2021-01-22 13:17] kenji21 commented on #1155
For what I looked, the XCUI is a separate processus, which can tell SpringBoard (using xpc) to launch app, and have it going in background

[2021-01-22 13:22] dostrander commented on #1155
Yeah it is, however how they call it is the question we need to figure out. If they use a framework that we can dynamically link similar to how we dynamically link `UIAutomation` we should be able to call it and do the same thing, even in process AFAIK

[2021-02-09 00:24] dheerajn commented on #1199
Yes, this works for me. All I had to do is to use `UIHostingController(:)` in place of ViewController and load the SwiftUI View

[2021-02-22 15:26] kikeenrique opened #1212 "KIF swift package manager warnings and errors"
Hi 😀!,
I was eager to try SPM and I've just tested it with version 3.8.0 and I get a warning and some errors.

1. I created an empty project on Xcode, with testing artefacts.
2. Added KIF as dependency on "Swift Packages"
3. Hit tests.

As a result, I get this warning:
[code]
inside this autogenerated KIF.modulemap.
[code]

And on linking phase I see this errors:
[code]

Regards

[2021-02-22 15:31] kenji21 commented on #1212
to fix, the undefined symbols, you may add `linkerSettings: [.linkedFramework("IOKit")]),` (like here: https://github.com/openium/KIF/blob/spm-support-freez/Package.swift#L23)

[code]

[2021-02-22 21:12] kikeenrique commented on #1212
@kenji21 you mean that fix must be applied in KIF, don't you?

About the umbrella module map, I haven't found where is it being generated, so no clue on how to fix it. Anyone?

[2021-02-23 06:23] kenji21 commented on #1212
can you fork and try to add this line to check if it fixes `Undefined symbols` errors, I'm confident it does

[2021-02-23 10:20] kikeenrique commented on #1212
@kenji21 Ok, yeah, I confident that will fix the linking problem.
Any guess for the modulemap  warning?
Because I use to work with warnings as errors and that makes it a bigger problem.

[2021-02-23 10:24] kenji21 commented on #1212
Same, turning warnings to errors is a good practice, well, the https://github.com/openium/KIF/tree/spm-support-freez/Sources/KIF directory in my fork has an [include/KIF](https://github.com/openium/KIF/tree/spm-support-freez/Sources/KIF/include/KIF) directory, while current KIF master have not

[2021-02-23 21:50] danielbarela opened #1214 "Selecting date picker value when picker timezone is not local does not give the expected time"
We have a UIDatePicker which has the timeZone set to ```TimeZone(secondsFromGMT: 0)``` We then test this by calling ```tester().selectDatePickerValue(["Nov 2", "7", "00", "AM"], with: .forwardFromCurrentValue);``` which ultimately should set the date to November 2 7:00:00 +0000, however it is being set to November 2 14:00:00 +0000 because my timezone is 7 hours behind GMT.

If I modify the KFUITes

[2021-02-24 11:00] dostrander commented on #1214
@danielbarela if you could that would be great. If not i'll try to get to it in the next few weeks

[2021-02-24 11:01] dostrander commented on #1212
I'll put up a PR to fix this

[2021-02-24 11:05] dostrander commented on #1212
https://github.com/kif-framework/KIF/pull/1215

@kenji21 @kikeenrique

[2021-02-24 12:25] kikeenrique commented on #1212
Is there any check using a test project that compiles using SPM version?

[2021-02-24 13:06] kenji21 commented on #1212
Sure, add the package from its remote / fix-branch :
<img width="791" alt="Screenshot 2" src="https://user-images.githubusercontent.com/1105089/109004239-c5cc0e80-76a8-11eb-839d-d4c17d5a6f20.png">

as there is no "public headers", we can't access any class inside the module, I think the target should define a "publicHeadersPath" (which defaults to TargetName/include) :

    publicHeadersPath: Stri

[2021-02-24 15:42] kikeenrique commented on #1212
I'm sorry to express myself so badly.
I mean if there is any test on CI to check that SPM is working as expected.

[2021-02-24 17:37] kenji21 commented on #1212
integrating a Swift package inside a Xcode project is as simple as drag & dropping the "Package.swift enclosing folder" in the project, during my PR, I had added it to the Testable Swift.xcodeproj:

https://github.com/openium/KIF/blob/spm-support-freez/Documentation/Examples/Testable%20Swift/Testable%20Swift.xcodeproj/project.pbxproj#L47

https://github.com/openium/KIF/blob/spm-support-freez/Docum

[2021-02-24 22:23] kikeenrique commented on #1212
I've been checking both spm-support-freez and spm-support branches and I've not seen any empty project that just uses the SPM package.
I consider it a simple and easy test to avoid issues like this. As you said, it's just 2 steps.

[2021-02-24 23:35] justinseanmartin commented on #1212
@dostrander - I believe we compile some of the Sample projects as part of the CI script, don't we? Seems worth checking on that to prevent regressions in the future.

[2021-02-27 15:06] #1133 closed

[2021-03-01 08:09] SOSwifty commented on #1156
Any news or ideas on how to solve this issue?

[2021-03-01 13:10] dostrander commented on #1212
@kenji21 @kikeenrique @justinseanmartin So i have been looking into this. I've added a project to be able to test that its hooked up properly and can see the issue that @kikeenrique is saying where it can't find the headers. Looking into this I am trying to find a solution where we don't have to put all of our headers in an `include/` folder as it breaks the convention of the Headers + Implementat

[2021-03-01 19:07] kenji21 commented on #1212
I can see two ways:
- an ugly one: have them side by side in the xcode project (but in the include folder on disk) (as adding one public API header will be hard to do)
- add symbolic links in the include folder

I've searched in other "pure obj-c" frameworks having a Package.swift, like https://github.com/ccgus/fmdb/blob/master/Package.swift#L23 or https://github.com/robbiehanson/CocoaAsyncSocket/

[2021-03-02 11:02] kikeenrique commented on #1212
I've just tested an "empty" Xcode project, with a UI test target linking to KIF.
With next Package.swift content I'm getting no warnings (but the 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0):
[code]

Could it be a problem with "." vs "./" ?

[2021-03-02 11:23] dostrander commented on #1212
Try importing it into a file, that's when i start getting the error. It doesn't change if i have a `.` or a `./`

[2021-03-02 22:56] kikeenrique commented on #1212
I've a guess.

publicHeadersPath is set to ".", which is "Sources/KIF" for target KIF. And contains no headers, but directories.

When Xcode compiles the KIF module, for each file it search for headers in common paths, such are the current directory and publicHeadersPath. So any file with dependencies on the other directories, would need to be more specific about its imports.

With next changes, a

[2021-03-03 13:03] dostrander commented on #1212
@kikeenrique I think that worked, put up a PR for it now

[2021-03-03 15:01] dostrander commented on #1212
@kikeenrique it looks like it works for SwiftPM but not normally: https://github.com/kif-framework/KIF/pull/1218/checks?check_run_id=2022227282

[2021-03-24 10:36] pbartolome commented on #1212
There are other pure ObjC frameworks that are using the "symbolic link" option to place all headers inside a folder (E.g. XMPP https://github.com/robbiehanson/XMPPFramework/blob/master/Package.swift#L58 which has a `include` folder with symbolic links to the original headers https://github.com/robbiehanson/XMPPFramework/tree/master/include/XMPPFramework). It seems a good trade off as it should not

[2021-03-25 08:28] pbartolome commented on #1212
I've created a PR that fixes the issues commented on this issue https://github.com/kif-framework/KIF/pull/1219

[2021-03-25 09:25] Sundea opened #1220 "Nullability modifiers for KIFUIViewTestActor and others"
I have been using KIF in my tests for a long time. And now I start to use it with Swift. I was wondered when I realized that all methods `actor.using...()` return `KIFUIViewTestActor!`, not the `KIFUIViewTestActor`. Is it expected behavior?

[2021-03-25 12:16] dostrander commented on #1220
It's expected, however not ideal. We should put some nullability attributes in so it's nicer to work in with swift

[2021-03-25 12:25] Sundea commented on #1220
I can help you with that issue if you want.

[2021-03-25 22:05] gopito commented on #1156
I have used https://github.com/wix/AppleSimulatorUtils in Test Pre-Action as WorkAround

[2021-03-29 16:59] billburgess opened #1221 "`swipeRowAtIndexPath:inTableView:inDirection:` not working on iOS 14"
When testing the table view swipe action on iOS 14 (Phone Devices only) `[tester swipeRowAtIndexPath:cellPath inTableView:tableView inDirection:KIFSwipeDirectionLeft];` is not working. When testing on iPad, the swipe action completely triggers the action due to pulling it all the way over. On phone devices, the action only pulls over partially and to trigger the action, you need to tap the button.

[2021-03-30 14:29] kikeenrique commented on #1212
After #1219 this issue can be considered fixed

[2021-04-01 14:13] HassanElDesouky opened #1222 "`waitForView` fails and doesn't return `nil`"
I want to catch timeout failures inside of my logger. I want to do something like that:
[code]
However, the above will timeout and fail inside KIF.

I can't use `tryFindingView` because as the docs say "If the element isn't found, then the step will not wait and instead immediately return NO"

[2021-04-03 10:23] dostrander commented on #1221
Thanks for flagging this!

[2021-04-03 10:29] dostrander commented on #1222
I'm a little confused at the issue.

Is `waitForView` returning nil or is it failing inside of KIF? Also what do you  mean by it failing inside of KIF is it timing out trying to find the view or is it crashing?

[2021-04-03 11:10] HassanElDesouky commented on #1222
It's not returning `nil`.

I mean it's timing out and not returning `nil`.

[2021-04-03 14:59] justinseanmartin commented on #1222
I don't think it makes sense to alter the behavior of `waitForView` to handle this use case, because that would be a breaking change. The documentation in `tryFindingView` is slightly inaccurate, as it will poll for 1s, instead of the timeout interval (10s unless overridden). It seems reasonable to alter that behavior to allow it to respect the `usingTimeout:` interval if explicitly specified, but

[2021-04-06 09:42] #1214 closed

[2021-04-07 08:37] HassanElDesouky commented on #1222
@justinseanmartin I decided to go with subclassing of `KIFTestCase` and overriding the behavior in `failWithException`. Thank you for suggesting that.

[2021-04-07 08:37] #1222 closed

[2021-04-07 13:56] bimawa opened #1224 "[Question] Can I did test for check communication between instances?"
I have Chat application and wanna cover communication between two or more instances. How can I do it with KIF?

[2021-04-08 06:14] justinseanmartin commented on #1224
If I understand correctly, you'd like to verify the communication between 2 different instances of the app running, is that right? You'd need a higher level framework that sits outside of the app process and some way to communicate between test runners. Then KIF could pick up instructions from an external communication channel and run those actions. That said, this isn't a feature that KIF directl

[2021-04-08 14:45] bimawa commented on #1224
Yes, you understood me correct! Thanks for answer!

[2021-04-08 14:45] #1224 closed

[2021-04-12 12:19] billburgess opened #1225 "First test on iPad prevents tapping"
For some reason, the first test in my suite always fails when run on an iPad. Doesn't seem to matter the OS version. I'm not sure what it could be. I've tried commenting out tests and the failure always trickles down stream to the first test that runs. Screenshots show my app in an appropriate spot, but some items are not tappable. My suspicion is that it is tapping too early and it gets missed an

[2021-04-12 12:30] kenji21 commented on #1225
does the issue is reproducible when using random test execution order ? see https://useyourloaf.com/blog/xcode-10-random-and-parallel-tests/

if sometimes it's green, then you have side effect in a previous test
maybe you can run only test of a single class to "speed up" the issue reproduction

[2021-04-12 14:08] billburgess commented on #1225
The issue is reproducible 100% of the time on our CI server where most of the tests run. We use VM's that run on slightly older hardware. 2015 MBP's. I can't quite reproduce it on my 2018 MBP or when running the same VM locally. It feels like the first test always starts up a little slower.

We have randomization and parallel builds off to ensure any failures can be reproduced accurately enough. W

[2021-04-12 18:55] billburgess commented on #1225
I was able to mitigate this issue today by pre-starting the simulator. It seems by starting the sim separate from the test command the first test issue seems to resolve itself.

[2021-04-12 18:55] #1225 closed

[2021-04-22 10:44] kikeenrique opened #1226 "SPM umbrella header warnings with Xcode 12.5RC"
Hi!

I'm seeing this warnings using latests Xcode 12.5RC using SPMIntegration project in repository.
I've tested tag v3.8.2 and master.
In case someone has a warnings as errors compilation policy (✋) it won't be able to run its tests plan.

[code]

[2021-04-23 21:53] kikeenrique commented on #1226
A bit more info.
Some API is hidden, so next patched code for SPMIntegration project does compile on Xcode 12.4 but not on 12.5RC
Error:
`Incorrect argument label in call (have 'withAccessibilityIdentifier:', expected 'withAccessibilityLabel:')`

I've already tested some possible solutions without any success, help is welcomed.

[code]

[2021-04-28 09:24] Alexsilvacodes commented on #1226
I'm having the same issue here, before updating to 12.5 I was being able to access to `withAccessibilityIdentifier` methods, right now I only can access `withAccessibilityLabel`

[2021-05-11 09:12] kikeenrique commented on #1226
I did a pull request with a fix that seems to solve the reported problem.
Please, review it and/or comment.
Regards!

[2021-05-15 13:06] kikeenrique commented on #1226
Hi,
All checks did pass, do you consider it is ready for merge?
Regards

[2021-05-17 17:43] daniel-beard opened #1229 "[Question] Get full list of KIF test cases and include/exclude rules?"
Hi, I'm using KIF for some tests in a monorepo where some modules use bare XCTest and some are using KIF.
These test suites have grown pretty huge, so for the bare XCTest modules, I've started using `xcodebuild`'s ability to only run an opt-in list of tests which gives me the ability to dynamically split our test suites across N build machines at build time.

I would like to use a similar approach

[2021-05-17 18:02] daniel-beard commented on #1229
After looking further, it appears we are using KIF+Quick. Maybe this question is more appropriate on the Quick repo.

[2021-05-17 21:31] justinseanmartin commented on #1229
KIF tests are still XCTests, so I'm unclear what the discrepancy preventing your existing tooling from working with those would be.

We open sourced https://github.com/square/xcknife, which can be used to enumerate tests and output that information. It also has a naive mode for doing it based off of `nm` (which can miss out on dynamic tests, but is way faster). It then balances the work across mac

[2021-05-17 21:31] #1229 closed

[2021-05-18 14:57] dostrander commented on #1226
@kikeenrique apologies, for some reason my notifications aren't being sent to my email so i missed this, this was just merged

[2021-05-18 14:57] #1226 closed

[2021-06-02 04:02] Sai-Kishore-15 opened #1230 "SFSafariViewController Support"
I have been trying to click the "Done" Button on the SFSafariViewController and verify some titles in the screen.
Is there a way to achieve this with KIF ?

[2021-06-07 10:11] ashi009 opened #1231 "`#define system` breaks <SceneKit/SCNParticleSystem.h>"
I've found #733, however, it appears to me that the issue is still there.

We have accidently imported KIF right before <SceneKit/SCNParticleSystem.h>, and got this:

![image](https://user-images.githubusercontent.com/687367/120998370-9efa9980-c7ba-11eb-9a1e-a3ec49598e30.png)

The macro expansion took place in the wrong place. It's really not a good idea to define a token without using any prefixe

[2021-06-07 13:12] justinseanmartin commented on #1231
This has already [been addressed](https://github.com/kif-framework/KIF/blob/master/Sources/KIF/Classes/KIFSystemTestActor.h#L20-L24), but had to be done in a non-breaking way. You'll need to add `-DDEPRECATE_KIF_SYSTEM=1` to `OTHER_CFLAGS` build setting to opt-in and uses `systemTester` instead of `system`.

[2021-06-07 18:44] ashi009 commented on #1231
It has been addressed, but not fixed.

Even with `-DDDEPRECATE_KIF_SYSTEM=1`, it will still define `system` as a function call and break all these:

![image](https://user-images.githubusercontent.com/687367/121072094-59ae8a00-c803-11eb-920b-75e43927a002.png)

[2021-06-08 04:37] justinseanmartin commented on #1231
I see your point about the conflicting `system` define. The solution seemed to work at the time to avoid the issue initially called out in #733 that the PR was addressing. This could probably be addressed by either:

1. `#undef system` after importing KIF in your code, or manage the import ordering (not great)
2. Introduce another pragma, like `NO_KIF_SYSTEM_DEPRECATION_WARNING` that avoids having

[2021-06-08 13:39] dostrander commented on #1231
@justinseanmartin @ashi009 I think option 3 is fine. However it might be a good time to rip the bandaid off and just go for option 4, bump KIF to 4.0 and have a long running 3.x branch, support that for another 6 months to a year and then formally stop supporting `system` completely.

Is there a way to show a warning in cocoapods as you install something, might be good to show folks that this is g

[2021-06-08 15:31] justinseanmartin commented on #1231
People will still be able to use KIF 3.x if they wanted, but it will decay over time. CocoaPods doesn't have that facility, but that was somewhat the intent behind introducing the `DEPRECATE_KIF_SYSTEM` pragma. We could start making that deprecation warning show up for folks in master on bumping KIF (but have it still be functional until 4.x).

The biggest downside of introducing the breaking chan

[2021-06-09 10:11] dostrander commented on #1230
@Sai-Kishore-15 I will look into this soon. This is likely due to it being out of process now similar to how the image picker works now. I will see what is the problem and report back and/or fix it

[2021-07-28 22:50] emanueluayza opened #1233 "[UITouch setIsTap:]: unrecognized selector sent to instance on iOS 15"
Hi there!

I was testing iOS 15 with Xcode 13.0 beta 4 and I saw multiple tests failures with this error:

`-[UITouch setIsTap:]: unrecognized selector sent to instance 0x7fce650c59a0 (NSInvalidArgumentException)`

<img width="622" alt="Screen Shot 2021-07-28 at 19 38 32" src="https://user-images.githubusercontent.com/9702833/127406160-0b9ae39a-e9d6-4192-bce0-0946aa86d403.png">

This happens when

[2021-08-02 14:43] dostrander commented on #1233
@emanueluayza Thanks for pointing this out and taking care of this, it was just merged

[2021-08-02 14:43] #1233 closed

[2021-09-09 11:11] PawelMichalak-TomTom commented on #1233
Hi. Is there a plan to release this fix in new Cocoapods? I can't make a build with Xcode13 without it and iOS15 is just around the corner.
Thx.

[2021-09-09 11:24] dostrander commented on #1233
Sorry about that. I will create a release today

[2021-09-09 11:51] PawelMichalak-TomTom commented on #1233
@dostrander Wow, that would be awesome. Thanks!

[2021-09-09 14:09] dostrander commented on #1233
Just published

[2021-09-09 15:44] PawelMichalak-TomTom commented on #1233
Excelent! I've already integrated and got it working with build. Thanks again @dostrander for a quick fix!

[2021-09-13 12:17] sai-kishore-swaminathan commented on #1156
Any news on this issue ? Until now I was using XCUI to dismiss the system alerts, But I started running the tests on firebase testlab and the app gets stuck on the alert sometimes.

[2021-09-13 14:57] dostrander commented on #1156
AFAIK firebase uses real devices which you may be hitting this: https://github.com/kif-framework/KIF/issues/1156#issuecomment-693003450

However, i have not been able to look into this issue yet. It is likely going to require some reverse engineering into what XCUI does to dismiss alerts

[2021-09-14 05:49] sai-kishore-swaminathan commented on #1156
Thank you @dostrander . Looking forward to this. Currently we are running KIF on firebase using flank.

Also, Im curious how others run KIF tests.
1.  Does everybody use simulators or run it on their local machine only ?
2. Or do they run it on their CI ? If yes, how do they get reports and logs on failing tests?
3. Is there another service that people use commonly (other than Firebase) to run KIF

[2021-09-18 08:28] nkusongzhichao opened #1237 "How to"

[2021-09-18 08:28] #1237 closed

[2021-09-18 08:38] nkusongzhichao opened #1238 "It may be blocked by other views"
When I use tapIfExistAccessibilityLabel, sometimes it may pop a view,  so I cant hit this button, and give this error ："xxxx is not tappable. It may be blocked by other views."  How can I solve this problem？

[2021-09-20 11:46] dostrander commented on #1238
Sorry i don't follow completely. Are you saying that if you hit `tap` it will do the tap then pop a view, which then will then cause an error saying it's untappable?

Maybe an example project or code of what is happening would help illustrate what the problem is if that's possible

[2021-09-27 08:49] alekkania opened #1239 "Xcode 13 - waitForView returns nil"
I faced with issue in Xcode 13 that `waitForView` method returns nil for view with accessibilityIdentifier as well as accessbilityLabel.
It is strange because sometimes it works if tests are started as whole class instead of single one.

It mostly happen on UITable/CollectionView.

Anyone faced with this issue as well?

[2021-09-27 14:51] dostrander commented on #1239
@alekkania have you or anyone else seen this on CI or is this mostly only local?

[2021-09-27 18:27] alekkania commented on #1239
@dostrander Yes it happen on CI as well.

[2021-09-27 19:06] dostrander commented on #1239
Got it, let me look into this a bit

[2021-09-28 14:04] dostrander commented on #1239
@alekkania is this just return nil or is it also giving you an error in the test when calling `waitForView`?

Also if you have a repro project and/or code that'd be super helpful

[2021-09-30 07:52] alekkania commented on #1239
@dostrander It seems that default timeout is not enough. I've forked KIF repo and change waitForView timeout to 200 seconds. It solved the issue with single tests but run in group still fails - stuck on waiting for view and fail in the end.

[2021-10-01 13:44] dostrander commented on #1239
@alekkania  Would you be able to create a test to try to repro this in the KIF project and send over the branch? I am having trouble reproing it on my machine using beta 5

[2021-10-20 11:22] dostrander commented on #1239
@alekkania is it always tableviews or collection views? Does it sometimes happen on other views as well or is it pretty particular to those?

[2021-10-22 20:03] lolindrath opened #1240 "Xcode 13 - waitForView(withAccessibilityIdentifier) issue"
I have a project where I test that a UILabel within a UITableView section header is set correctly. This test runs fine in Xcode 12 / iOS 14 but in Xcode 13 / iOS 15 it crashes because `waitForView` returns the `UITableView` instead of the expected `UILabel`. Here's the error:

[code]

Steps to Reproduce:

1. Open sample project below in Xcode 12 and run the tests on a iOS 14
2. Note that the test

[2021-10-29 20:05] alekkania commented on #1239
@dostrander It works for us as well. Thank you!

[2021-11-01 12:52] #1240 closed

[2021-11-01 13:02] dostrander commented on #1239
Fixed in https://github.com/kif-framework/KIF/pull/1241

[2021-11-01 13:02] #1239 closed

[2021-11-01 13:39] lolindrath commented on #1240
Thanks @dostrander ! You're awesome!

[2021-11-01 18:49] dostrander commented on #1240
This has been released with 3.8.4

[2021-11-01 18:49] dostrander commented on #1239
This has been released with 3.8.4

[2021-11-02 17:14] dostrander commented on #1238
@nkusongzhichao Any updates on this?

[2022-01-12 11:39] pomozoff opened #1254 "KIF types each character twice"
I use this method:
[code]

as following:
[code]

However, I see each character typed twice:
<img width="368" alt="image" src="https://user-images.githubusercontent.com/839094/149127933-b58e3ab6-86fb-4ce3-8e0d-2d58df67d512.png">

It looks like the next code enters a character twice:
[code]

Is there any workaround to fix this issue?

[2022-01-12 21:24] justinseanmartin commented on #1254
We don't observe this behavior in our app or the integration tests in this repo. I'd recommend setting some breakpoints where the controls are updating their text and see if they're doing something unexpected. If you can narrow down the cause or provide a repro, we could help with more guidance. Without that information, there isn't much to go on here. You should be able to see from KIF's side tha

[2022-01-12 21:24] #1254 closed

[2022-02-03 14:52] jackrwright opened #1256 "tapView() not working on SwiftUI views in Xcode 12 with KIF 3.8.6"
We have some tests that utilize tapView(), but I found that that none of the taps succeed for SwiftUI views if I run the tests on xcode 12. They work fine if run on Xcode 13.

[2022-02-07 23:05] jackrwright commented on #1256
Specifically, `tester().tapView(withAccessibilityIdentifier:)` fails.

[2022-02-08 16:32] jackrwright commented on #1256
I was able to solve the issue by re-working my SwiftUI view, so it wasn't a KIF issue exclusively. The original view worked fine in the app and Xcode 13 tests, but seemed to be compiled by Xcode 12 in a way that was not compatible with how KIF

[2022-02-08 16:32] #1256 closed

[2022-04-05 12:51] #1137 closed

[2022-04-20 18:08] bharathns commented on #1117
I See the sample application with SPM  working not sure what is needed here can someone please explain.

[2022-05-20 13:57] erikkerber opened #1260 "Xcode 13.4: NSFunctionExpression with selector is forbidden."
When running with Xcode 13.4, running with KIF can crash when interacting with an a11y element:

[code]

Similar issue in Detox: https://github.com/wix/Detox/issues/3408

[2022-05-24 14:27] erikkerber commented on #1260
I assume it began with the iOS 15.5 simulator then, which is part of (and default for) Xcode 13.4. I then think most will run into this issue when they update to Xcode 13.4.

I'll test when I get a chance, but if your'e right I'm guessing that developers can still use iOS 15, it just has to be <15.5.

[2022-05-25 14:03] asafkorem commented on #1260
You can see how I fixed a similar error in Detox as a reference: https://github.com/wix/Detox/pull/3420.

[2022-05-31 18:45] babbage commented on #1260
I am experiencing the same issue. My KIF tests run fine in Xcode 13.3.1 with iOS 15.4 simulators, but crash with a `NSPredicate: NSFunctionExpression with selector 'accessibilityIdentifier' is forbidden.` error on

`+ (BOOL)accessibilityElement:(out UIAccessibilityElement **)foundElement view:(out UIView **)foundView withElementMatchingPredicate:(NSPredicate *)predicate tappable:(BOOL)mustBeTappab

[2022-05-31 21:36] babbage commented on #1260
Have confirmed that if you download the iOS 15.4 Simulator in Xcode 13.4, tests then pass that otherwise crash with the error above. So a partial work-around for people who want to use the latest Xcode in the meantime is to test on the iOS 15.4 Simulator.

I'd be happy to make a pull request for this if I knew how to fix it but am a bit unclear at this stage. Clearly in iOS 15.5 (or at least the S

[2022-06-01 06:46] asafkorem commented on #1260
@erikkerber, @babbage I was able to reproduce and find it in KIF very quickly. Here's the fix: https://github.com/kif-framework/KIF/pull/1261, you're welcome 😄

[2022-06-01 16:38] KentLottis-jwn commented on #1260
Thank you @asafkorem  - I concur with your diagnosis and your fix. I still don't understand why this cropped up: has this predicate form always been illegal and only now is Apple enforcing it? Or did they break something?

Regardless, it seems like the block-based implementation is more efficient anyway, since it skips the text-parsing step.

[2022-06-03 12:04] AhmedEid commented on #1260
@asafkorem Thank you for fixing this! Can you please release a version and add a tag to the commit that contains this fix?  https://github.com/kif-framework/KIF/tags

[2022-06-03 12:54] dostrander commented on #1260
@AhmedEid I'm updating now, just going through the whole cocoapods run around with it :)

[2022-06-08 08:52] danielsaidi opened #1263 "KIF-based UI tests crashes in Xcode 13.4"
When running KIF-based UI tests in Xcode 13.4, KIF crashes with this error log:

<img width="818" alt="image" src="https://user-images.githubusercontent.com/429927/172574128-dac7ca1f-eb8d-4ed5-bff8-39dd6e495701.png">

Setting up an `All Runtime Issues` breakpoint, we get this:

<img width="503" alt="image" src="https://user-images.githubusercontent.com/429927/172574571-d382397e-8e3b-4209-bdfd-8f11

[2022-06-08 09:10] danielsaidi commented on #1263
When using `master`, we can confirm that this indeed fixes the problem:

https://github.com/kif-framework/KIF/pull/1261

A new patch release with this fix would be amazing.

[2022-06-08 09:12] #1263 closed

[2022-06-08 13:15] dostrander commented on #1263
Yep should be fixed with this issue as well: https://github.com/kif-framework/KIF/issues/1260

[2022-07-19 05:53] meidlinga opened #1264 "Question: Does KIF require a mac?"
We are looking for a solution for automated UI Tests not requiring a mac. Would it be possible to use KIF to automate tap events without having a mac during test time. We are able to build apps.

I could not find this information in the documentation.

[2022-07-19 11:18] dostrander commented on #1264
KIF only works for Apple products, which require a mac or apple product to run. Is that what you are talking about or is there something else you are thinking?

[2022-07-19 11:24] meidlinga commented on #1264
Yes, this was my intention.
Since - if I unterstood the system correctly - KIF is compiled into the dev build of the actual app, I was hoping it could be triggered on the device, without having an external apple product connected during test/runtime

[2022-07-19 11:30] dostrander commented on #1264
That should work then, sorry it wasn't clear if you were talking about another machine type. It should work both on iPhone and iPad for sure

[2022-07-19 11:47] meidlinga commented on #1264
Thanks for the clarification. Sounds promising!

[2022-07-22 18:34] justinseanmartin commented on #1264
To clarify, KIF is compiled and linked into the test target and not the app being tested. There is no Apple supported way to run XCTest bundles on device without Xcode (which requires a mac). You could potentially build and link your tests, KIF and XCTest into your app, but you'd probably have to write your own test runner to find `XCTestCase` subclasses and call `invokeTest` on them sometime afte

[2022-07-22 18:34] #1264 closed

[2022-07-22 18:36] #1238 closed

[2022-09-15 19:43] iankoller-vivid opened #1266 "Xcode 14 "Failed to select from Picker""
After upgrading to Xcode 14, UI tests that were using:

`tester.selectPickerViewRow(withTitle: "Title", inComponent: 0)`

are no longer working. I get the error message "Failed to select from Picker". When stepping through the KIF source code, the picker appears to be `nil` as if it can't find one on screen even though I see it when the tests are running.

I'm wondering if this is a bug or if ther

[2022-09-18 14:50] azilbershtein opened #1267 "iOS16 press on keyboard doesn't work"
Can't press on the native keyboard on iOS16 devices, using both accessibility id and label.
Did anyone experienced that issue as well?

[2022-09-20 12:55] dostrander commented on #1267
@azilbershtein can you give a little context on how you are trying to press the native keyboard and if it's the standard keyboard or something more customized

[2022-09-20 12:55] dostrander commented on #1266
Thanks for flagging, I'll take a look soon

[2022-09-20 13:05] azilbershtein commented on #1267
@dostrander Native keyboard, I've tried both ".tapView(withAccessibilityLabel: "search") and .tapView(withAccessibilityIdentifier: "Search")
Failed with "Failure in child step: The step timed out after 30.00 seconds: Failed to find accessibility element with the label "search" (KIFFailureException)"
Works perfectly with iOS15.5
![Screen Shot 2022-09-20 at 16 00 32](https://user-images.githubuserco

[2022-09-20 13:16] dostrander commented on #1267
@azilbershtein Hmmm i'll check this out, since you are seeing this in the view debugger it seems like it's inside of the process still which is good. We may be doing something in KIF to somehow skip finding this. Let me look into it

[2022-09-20 17:24] dostrander commented on #1266
Confirmed that this seems to not work on iOS 16. Created a new workflow to run on it and it failed all of the pickers. Let's hope pickers aren't out of process now (like system alerts). I doubt it but let me double check that

[2022-09-20 17:36] iankoller-vivid commented on #1266
Thanks for taking a look. I'm not sure if this is related, but I'm also seeing another element (keyboard return button) that KIF can't seem to find:

`Failed to find accessibility element with the label “Done”`

I confirmed that the accessibility identifier is there and hasn't changed its name.

[2022-09-20 17:38] dostrander commented on #1266
Yeah that was reported here: https://github.com/kif-framework/KIF/issues/1267

Going to look into both of these today.  hopefully🤞 it's an easy fix :)

[2022-09-26 21:23] evandorn commented on #1156
@sai-kishore-swaminathan I'm moving my tests over to the same setup (KIF on firebase with Flank). Also being hit by failures with permissions alerts. Were you able to resolve this?

[2022-09-27 13:18] dostrander commented on #1266
Just want to circle back that this is not such as easy fix unfortunately. We will need to figure out how to access this because the picker view is now (with iOS 16) not within the application so we can't access it with our current infrastructure

We will need to figure out another way around this, likely trying to reverse engineer XCUI to see if we can mimic that. This will take a little while, so

[2022-10-18 15:14] victorgallegomodmed commented on #1260
This is having some unwanted side effects in the report, that looks like this:
[code]
Here is the set of methods that this traces to:
[code]

and usage of error is like this:

[code]

Any modification we can make to get the block predicate to print correctly? Not sure it matters, but using Xcode 14.0, Macbook M1, but also present on Intel based systems.

[2022-11-04 07:40] gerchicovy opened #1269 "KIF causes exception on using WKWebView"
I add empty fullscreen empty WKWebView and try to click it but get exception:
`Thread 1: "[<WKWebView 0x7fcdf002f600> valueForUndefinedKey:]: this class is not key value coding-compliant for the key _internal."`
Sources:
https://github.com/kif-framework/KIF/blob/master/Sources/KIF/Additions/UIView-KIFAdditions.m

Let check:
[code]

What is @"_internal" for WKWebView?

[2022-11-04 12:22] dostrander commented on #1269
This was likely an ivar, but i don't know what it was used for. This was last updated 9 years ago… Might not really be necessary to check for it anymore at all

[2022-11-08 06:02] gerchicovy commented on #1269
@dostrander could you please fix it? I don't know concrete steps which cause this problem but it obviously always will crash here on using WKWebView